<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/major.css">
    <link rel="stylesheet" href="/dynamicgrid/dynamicgrid.css">
    <title>Document</title>
</head>

<body>
  
    <div class="alert alert-danger">
        <div class="header">
            <h1 id="heading" >Name:- Babaria Yash Emp_id:- 24Dev013 </h1>
            <h2 id="task">Task:-Dynamic Content with MYSQL</h2>
        </div>
        <form action="/data" method="post">
            <div class="fm">
                <input type="text" name="data" id="data" placeholder="select * from table name;"
                    class="form-control input-sm">
                <input type="submit" name="submit" id="submit" value="GO" class="btn btn-info">
            </div>
        </form>

        <% try { %>

            <table class="table table-condensed">
                <tr class="warning">
                    <% col.forEach((e)=> { %>

                        <td>
                            <%= e %>
                        </td>
                        <% }) %>
                </tr>

                <% row.forEach((e)=>{ %>
                    <tr class="info">
                        <% col.forEach((record)=>{ %>
                            <td>
                                <%= e[record] %>
                            </td>
                            <% }) %>
                    </tr>
                    <% }) %>
            </table>

          
            <div class="tbl">
                <div class="btn">


                    <% if(pid == 1 ) { %>
                        <a><<</a>
                        <a><</a>
                        <span><%= pid %></span>
                    <% } else { %>
                       <a href="/data?pid=1"><<</a>
                        <a href="/data?pid= <%= --pid %>"><</a>
                        <span><%= ++pid %></span>
                    <% } %>    
                    <% if( pid ==  Math.ceil(recordset/20)  ) { %>
                             <a>></a>
                            <a>>></a>
                        <% } else { %>               
                <a href="/data?pid=<%= ++pid %>">></a>
                <a href="/data?pid=<%= Math.ceil(recordset/20) %>">>></a>            
                        <% } %>

                </div>
            </div>

           
            <div>Total Record: <span id="recordset"> <%= recordset %></span></div>
           
          
            <% } catch(err) { } %>
                
</body>
</html>