<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/major.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <style>
        .form-control {
            width: 50%;
        }

        .fm {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px 0px;
            justify-content: center;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .warning {
            font-size: 18px;
            font-weight: 600;
        }

        .alert-danger {
            margin: 0px;
        }

        .tbl {
            display: flex;
            justify-content: center;
        }
        
    </style>
    <div class="alert alert-danger">
        <div class="header">
            <h1 id="heading" >Name:- Babaria Yash Emp_id:- 24Dev013 </h1>
            <h2 id="task">Task:-Dynamic Content with MYSQL</h2>
        </div>
        <form action="/data" method="post">
            <div class="fm">
                <input type="text" name="data" id="data" placeholder="select * from table name;"
                    class="form-control input-sm">
                <input type="submit" name="submit" id="submit" value="GO" class="btn btn-info">
            </div>
        </form>

        <% try { %>

            <table class="table table-condensed">
                <tr class="warning">
                    <% col.forEach((e)=> { %>

                        <td>
                            <%= e %>
                        </td>
                        <% }) %>
                </tr>

                <% row.forEach((e)=>{ %>
                    <tr class="info">
                        <% col.forEach((record)=>{ %>
                            <td>
                                <%= e[record] %>
                            </td>
                            <% }) %>
                    </tr>
                    <% }) %>
            </table>

            <div class="tbl">
                <div class="btn">
                    <a href="" id="dec0" onclick="dec0()"><button class="btn" id="btn1"> << </button></a>
                    <a href="" id="dec1" onclick="dec1()"><button id="btn2" class="btn"> < </button></a>
                     <label id="display"> <%= pid %></label>
                    <a href="" id="inc1" onclick="inc1()"><button id="btn3" class="btn">></button></a>
                    <a href="" id="inc0" onclick="inc0()"><button id="btn4" class="btn">>></button></a>

                </div>
            </div>

            <div id="pagefield" style="visibility: hidden;">
                <%= pagefield %>
            </div>
            <div>Total Record: <%= recordset %></div>
            <div id="recordset" style="visibility: hidden;" ><%= recordset %></div>
            <% } catch(err) { } %>

                <script>
                    let pagefield = document.getElementById("pagefield").innerHTML;
                    let sql = ' '

                    fieldlen = document.getElementById('recordset').innerHTML
                    
                    minlen = 1;
                    maxlen = Math.ceil(fieldlen / pagefield);

                    let display = document.getElementById("display")

                    if (display.innerHTML == minlen) {
                        document.getElementById("btn1").disabled = true;
                        document.getElementById("btn2").disabled = true;
                    }
                    if (display.innerHTML == maxlen) {
                        document.getElementById("btn3").disabled = true;
                        document.getElementById("btn4").disabled = true;
                    }
                    function dec0() {
                        let display = document.getElementById("display")
                        display.innerHTML = minlen
                        document.getElementById('dec0').href = `/data?pid=${minlen}&query=${sql}`
                    }

                    function dec1() {

                        let display = document.getElementById("display")
                        if (display.innerHTML > minlen) {
                            display.innerHTML = parseInt(display.innerHTML) - 1;
                            document.getElementById('dec1').href = `/data?pid=${parseInt(display.innerHTML)}&query=${sql}`
                        }
                    }

                    function inc1() {
                        let display = document.getElementById("display")
                        if (display.innerHTML < maxlen) {
                            display.innerHTML = parseInt(display.innerHTML) + 1;
                            document.getElementById('inc1').href = `/data?pid=${parseInt(display.innerHTML)}&query=${sql}`
                        }
                    }
                    function inc0() {
                        let display = document.getElementById("display")
                        display.innerHTML = maxlen;
                        document.getElementById('inc0').href = `/data?pid=${maxlen}&query=${sql}`
                    }
                </script>
</body>
</html>